<%= erb :header %>
    <h1 class="text-center">Booking confirmed!</h1>

    <div class="text-center">
      <a class="btn btn-primary" href="/spaces" role="button">Return home</a>
    </div>
  </div>
</body>
</html>