<%= erb :header %>
    <h1 class="text-center">Your home away from home!</h1>
    <br>
    <br>
    <h2 class="text-center">Sign up to MakersBnB, or <a href='/sessions/new'>log-in</a>.</h2>
    <br>
    <div class="border border-5 p-4">
      <form action='/signup' method=POST>
        <div class="mb-3">
          <label for="SignUpEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="SignUpEmail" aria-describedby="emailHelp" name='email' required>
        </div>
        <div class="mb-3">
          <label for="SignUpPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="SignUpPassword" name='password' required>
        </div>
        <button type="submit" class="btn btn-primary" name='Sign up'>Sign Up</button>
      </form>
      <br>
      <% if @user.nil? %>
      <% elsif @user == false %>
      <div class="alert alert-danger" role="alert">
        ERROR: This email has already been registered. <a href='/sessions/new'>Log-in</a>
      </div>
      <% else %>
      <div class="alert alert-success" role="alert">
        <%= @user.email %> has been registered. <a href='/sessions/new'>Log-in</a>.
      </div>
      <% end %>
    </div>
  </div>
</body>

</html>