<html>

<head>
</head>

<body>

<form action='/spaces' method=POST>
  <input type='text' name='title' placeholder='Title of your space'>
  <button type='submit' name='Submit'>Submit</button>
</form>

</body>

</html>